$tooltip-color: #111 !default;
$arrow-size: 5px !default;

.react-tooltip {
	background: $tooltip-color;
	border-radius: 3px;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	left: 0;
	max-width: 200px;
	padding: 4px 6px;
	text-align: center;
	top: 0;
	z-index: 100;
}

.react-tooltip-arrow {
	border-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
}

.react-tooltip-top,
.react-tooltip-top-start,
.react-tooltip-top-end {
	margin-bottom: $arrow-size;

	.react-tooltip-arrow {
		bottom: -$arrow-size;
		border-width: $arrow-size $arrow-size 0;
		border-top-color: $tooltip-color;
	}
}

.react-tooltip-right,
.react-tooltip-right-start,
.react-tooltip-right-end {
	margin-left: $arrow-size;

	.react-tooltip-arrow {
		left: -$arrow-size;
		border-width: $arrow-size $arrow-size $arrow-size 0;
		border-right-color: $tooltip-color;
	}
}

.react-tooltip-left,
.react-tooltip-left-start,
.react-tooltip-left-end {
	margin-right: $arrow-size;

	.react-tooltip-arrow {
		right: -$arrow-size;
		border-width: $arrow-size 0 $arrow-size $arrow-size;
		border-left-color: $tooltip-color;
	}
}

.react-tooltip-bottom,
.react-tooltip-bottom-start,
.react-tooltip-bottom-end {
	margin-top: $arrow-size;

	.react-tooltip-arrow {
		top: -$arrow-size;
		border-width: 0 $arrow-size $arrow-size;
		border-bottom-color: $tooltip-color;
	}
}
